@mixin shadowed($n) {
	text-shadow:  $n/4 $n $n rgba(0, 0, 0, 0.6);
}

@mixin skillcolors() {
  &.skill-all {
    background: linear-gradient(darken(#1b5e20, 10%), lighten(#1b5e20, 10%)), #1b5e20;
  }
	&.skill-angularjs, &.skill-jquery, &.skill-javascript, &.skill-nodejs, &.skill-expressjs, &.skill-d3js, &.skill-reactjs, &.skill-ajax {
    background: linear-gradient(darken(#4E9353, 20%), #4E9353), #4E9353;
  }
  &.skill-mongodb, &.skill-yeoman, &.skill-tdd, &.skill-oauth {
    background: linear-gradient(darken(#465C7B, 20%), #465C7B), #465C7B;
  }
  &.skill-html5, &.skill-photoshop, &.skill-css3, &.skill-bootstrap, &.skill-sass, &.skill-responsive {
    background: linear-gradient(darken(#61487E, 20%), #61487E), #61487E;
  }
}

@mixin flexy() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}