@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html, body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: #fff;
  height: 100%; }

* {
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: #593; }
  a:hover {
    text-decoration: none;
    color: #262; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

.paper-tabs-0 #selectionBar.paper-tabs {
  background-color: #96a9c4; }

paper-button {
  border-radius: 0px;
  text-transform: none; }
  paper-button.content {
    padding: 0; }
  paper-button[primary][raised] {
    background-color: #1b5e20; }
  paper-button[secondary][raised] {
    background-color: #465C7B; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.text-center {
  text-align: center; }

.green {
  background-color: #1B5E20; }

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease; }

#about #education ul li, #about #enjoys ul li {
  display: inline-block;
  margin: 20px; }

header nav .title-block {
  background: linear-gradient(transparent, #1b5e20), #242424 url("../img/code.jpg") no-repeat fixed center;
  background-size: cover;
  height: 140px; }
  header nav .title-block h1 {
    text-shadow: 2px 8px 8px rgba(0, 0, 0, 0.6);
    padding: 30px 0 0;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 8px 8px rgba(0, 0, 0, 0.6); }
  header nav .title-block h2 {
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.6);
    margin: 0 10px 20px;
    font-size: 1.25em;
    font-weight: normal; }

header nav paper-tabs {
  background-color: #1b5e20; }
  header nav paper-tabs a, header nav paper-tabs a:hover {
    text-align: center;
    padding: 16px;
    color: #ffffff; }

#skills-tags .skill-tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin: 10px auto 0; }
  #skills-tags .skill-tags paper-button {
    margin: 4px;
    padding: 4px;
    cursor: pointer; }
    #skills-tags .skill-tags paper-button.skill-all {
      background: linear-gradient(#103613, #26862d), #1b5e20; }
    #skills-tags .skill-tags paper-button.skill-angularjs, #skills-tags .skill-tags paper-button.skill-jquery, #skills-tags .skill-tags paper-button.skill-javascript, #skills-tags .skill-tags paper-button.skill-nodejs, #skills-tags .skill-tags paper-button.skill-expressjs, #skills-tags .skill-tags paper-button.skill-d3js, #skills-tags .skill-tags paper-button.skill-reactjs, #skills-tags .skill-tags paper-button.skill-ajax, #skills-tags .skill-tags paper-button.skill-jsx {
      background: linear-gradient(#2b502d, #4E9353), #4E9353; }
    #skills-tags .skill-tags paper-button.skill-mongodb, #skills-tags .skill-tags paper-button.skill-yeoman, #skills-tags .skill-tags paper-button.skill-tdd, #skills-tags .skill-tags paper-button.skill-oauth, #skills-tags .skill-tags paper-button.skill-jasmine, #skills-tags .skill-tags paper-button.skill-babel, #skills-tags .skill-tags paper-button.skill-socketio, #skills-tags .skill-tags paper-button.skill-restapi {
      background: linear-gradient(#212b3a, #465C7B), #465C7B; }
    #skills-tags .skill-tags paper-button.skill-html5, #skills-tags .skill-tags paper-button.skill-photoshop, #skills-tags .skill-tags paper-button.skill-css3, #skills-tags .skill-tags paper-button.skill-bootstrap, #skills-tags .skill-tags paper-button.skill-sass, #skills-tags .skill-tags paper-button.skill-responsive, #skills-tags .skill-tags paper-button.skill-bourbon {
      background: linear-gradient(#2f233d, #61487E), #61487E; }
    #skills-tags .skill-tags paper-button .skill-num {
      background-color: #777;
      border-radius: 50%;
      margin-left: 4px;
      height: 20px;
      width: 20px;
      display: inline-block;
      text-align: center; }

#portfolio {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  #portfolio paper-material {
    overflow: auto; }
  #portfolio paper-card {
    margin: 20px;
    float: left;
    background-color: #424b4b;
    width: 440px; }
    #portfolio paper-card img {
      width: 350px;
      height: 200px; }
    #portfolio paper-card .card-content {
      padding: 0;
      float: left; }
      #portfolio paper-card .card-content .title {
        padding: 7px;
        height: 40px;
        width: 350px; }
        #portfolio paper-card .card-content .title h2 {
          font-size: 1.35em; }
    #portfolio paper-card .card-bottom {
      position: relative;
      min-height: 200px;
      width: 440px;
      padding: 10px; }
      #portfolio paper-card .card-bottom p {
        margin: 6px 0 0; }
      #portfolio paper-card .card-bottom paper-button {
        position: absolute;
        bottom: 5px; }
        #portfolio paper-card .card-bottom paper-button.git-btn {
          right: 90px; }
        #portfolio paper-card .card-bottom paper-button.web-btn {
          right: 0; }
    #portfolio paper-card .skills-bar {
      width: 90px;
      height: 240px;
      float: right;
      text-align: center;
      background-color: #2a3030; }
      #portfolio paper-card .skills-bar li {
        padding: 5px 0;
        height: 30px;
        cursor: pointer; }
        #portfolio paper-card .skills-bar li.skill-all {
          background: linear-gradient(#103613, #26862d), #1b5e20; }
        #portfolio paper-card .skills-bar li.skill-angularjs, #portfolio paper-card .skills-bar li.skill-jquery, #portfolio paper-card .skills-bar li.skill-javascript, #portfolio paper-card .skills-bar li.skill-nodejs, #portfolio paper-card .skills-bar li.skill-expressjs, #portfolio paper-card .skills-bar li.skill-d3js, #portfolio paper-card .skills-bar li.skill-reactjs, #portfolio paper-card .skills-bar li.skill-ajax, #portfolio paper-card .skills-bar li.skill-jsx {
          background: linear-gradient(#2b502d, #4E9353), #4E9353; }
        #portfolio paper-card .skills-bar li.skill-mongodb, #portfolio paper-card .skills-bar li.skill-yeoman, #portfolio paper-card .skills-bar li.skill-tdd, #portfolio paper-card .skills-bar li.skill-oauth, #portfolio paper-card .skills-bar li.skill-jasmine, #portfolio paper-card .skills-bar li.skill-babel, #portfolio paper-card .skills-bar li.skill-socketio, #portfolio paper-card .skills-bar li.skill-restapi {
          background: linear-gradient(#212b3a, #465C7B), #465C7B; }
        #portfolio paper-card .skills-bar li.skill-html5, #portfolio paper-card .skills-bar li.skill-photoshop, #portfolio paper-card .skills-bar li.skill-css3, #portfolio paper-card .skills-bar li.skill-bootstrap, #portfolio paper-card .skills-bar li.skill-sass, #portfolio paper-card .skills-bar li.skill-responsive, #portfolio paper-card .skills-bar li.skill-bourbon {
          background: linear-gradient(#2f233d, #61487E), #61487E; }
      #portfolio paper-card .skills-bar .over-8 {
        height: 10px;
        padding: 0;
        margin: 0; }

#updates {
  margin: 20px auto; }

#about {
  margin: 40px auto 0; }
  #about h1 {
    font-size: 3em;
    margin-bottom: 20px; }
  #about section {
    min-height: 240px;
    padding: 40px 0; }
  #about #profile .profile-photo {
    display: block;
    height: 140px;
    width: 140px;
    margin: 0 auto 50px;
    border-radius: 50%; }
    @media screen and (min-width: 768px) {
      #about #profile .profile-photo {
        float: left;
        margin: 20px 5% 130px 0; } }
  #about #profile h1 {
    font-size: 2em; }
  #about #profile p {
    font-size: 1.2em;
    margin-bottom: 40px; }
  #about #education ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 1.4em; }
    #about #education ul li {
      width: 260px; }
      #about #education ul li h2 {
        font-size: 1.3em; }
      #about #education ul li p {
        margin: 0; }
  #about #skills ul {
    width: 90%;
    margin-right: 10%;
    font-size: 2em;
    padding: 10px; }
    @media screen and (max-width: 768px) {
      #about #skills ul {
        margin: auto; } }
    #about #skills ul li {
      height: 48px;
      text-align: right; }
      #about #skills ul li .label {
        float: left;
        width: 25%;
        padding: 6px 6px 0 0; }
      #about #skills ul li .progress {
        float: right;
        margin: 10px 0;
        width: 75%;
        height: 28px; }
      @media screen and (max-width: 992px) {
        #about #skills ul li .label {
          width: 40%; }
        #about #skills ul li .progress {
          width: 60%; } }
      @media screen and (max-width: 768px) {
        #about #skills ul li .label, #about #skills ul li .progress {
          text-align: center;
          width: 100%; } }
  #about #enjoys ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }

footer {
  font-size: 0.75em;
  padding-top: 50px;
  text-align: center; }
  footer .social-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
