  <div class="text-center">
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/dice'">Dice Roller</paper-button>
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/draw'">Drawing App</paper-button>
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/flickr'">Flickr Search</paper-button>
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/quotes'">Random Quote</paper-button>
<!--     <paper-button class="primary" raised="" onclick="window.location.href='#/apps/weather'">Local Weather</paper-button> -->
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/pomodoro'">Pomodoro Clock</paper-button>
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/twitch'">Twitch Status</paper-button>
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/campernews'">Camper News</paper-button>
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/wikisearch'">Wiki Search</paper-button>
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/calculator'">Calculator</paper-button>
    <paper-button class="primary" raised="" onclick="window.location.href='#/apps/tictactoe'">Tic Tac Toe</paper-button>
  </div>