<!-- FLICKR SEARCH HTML-->
<div class="flickr">
  <div class="search">
    <h1>Flickr Photo Search</h1>
    <form>
      <label for="search">Type a search term</label>
      <paper-input type="search" name="search" id="search">
      <input type="submit" value="Search" id="submit" class="button">
    </form>
  </div>

  <ul id="photos">

  </ul>
</div>
<!-- FLICKR SEARCH CSS-->
<style>
  .flickr input#search {
    width:60%;
    border-radius: 5px;
  }
  .flickr, .flickr a.image, .flickr img  {
    box-sizing: content-box !important;
  }
  .flickr a.image {
    max-width: 80%;
    max-height: 200px;
  }
  .flickr #photos li {
    height:300px;
  }
  .flickr img {
    margin:20px;
    border:20px solid #333;
    float:left;
  }
  .flickr ul#photos {
    margin-left:0;
  }

</style>
<!-- FLICKR SEARCH JAVASCRIPT-->
<script>
  $(document).ready(function() {
    $('form').submit(function (evt) {
      evt.preventDefault();
      $('#photos').html(" ")
      var flickerAPI = "http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?";
      var $searchField = $("#search")
      var $submitButton = $('#submit');
      var searchText = $searchField.val();
      var flickrOptions = {
        tags: searchText,
        format: "json"
      };
      $searchField.prop('disabled', true);
      $submitButton.attr('disabled', true).val('Searching...')
      console.log("searching for: "+searchText);
      function displayPhotos(data) {
        var photoHTML = '';
        $.each(data.items,function(i,photo) {
          photoHTML += '<li class=" col-lg-4 col-md-6">';
          photoHTML += '<a href="' + photo.link + '" class="image">';
          photoHTML += '<img src="' + photo.media.m + '"></a></li>';
        }); // end each
        $('#photos').html(photoHTML);
        $searchField.prop('disabled', false);
        $submitButton.attr('disabled', false).val('Search');
        if(photoHTML === "") {
          $('#photos').append($('<p>No results found for '+$searchField.val()+'</p>'))
        };
      }; // end displayPhotos
      $.getJSON(flickerAPI, flickrOptions, displayPhotos);
    }); // end submit
  }); // end ready
</script>