<div id="about">
  <section id="profile">
    <div class="clearfix">
      <img src="img/profile.jpg" alt="Profile Picture of Kenneth Black" class="profile-photo">
      <h1>Kenneth Black</h1>
      <p>Applied Physics Major, Tenacious Problem Solver, Self-taught Full Stack Web Developer. </p>
      <p>I have spent the last year and a half intensively learning to code, starting with FullStack JavaScript and moving on to Python, Java, and Ruby. I host the Portland, OR FreeCodeCamp meetup and was the first in Oregon (about 30th worldwide) to complete the FCC curriculum, which includes 30 projects and over 50 algorithms - an estimated 1,200 hours of code. Coding has become a passion of mine, combining my love of problem solving with the satisfaction I get from making things to become something I truly enjoy.</p>
    </div>
    <div class="buttons text-center">
      <button md-button (click)="link('https://github.com/LawlietBlack')" class="md-primary md-raised"><i class="fa fa-github"></i> Github</button>
      <button md-button (click)="link('https://www.linkedin.com/in/kennethrblack')" class="md-primary md-raised"><i class="fa fa-linkedin"></i> LinkedIn</button>
      <button md-button (click)="link('https://teamtreehouse.com/kennethblack')" class="md-primary md-raised" ><i class="fa fa-tree"></i> Treehouse</button>
      <button md-button (click)="link('https://twitter.com/Kenneth_R_Black')" class="md-primary md-raised" ><i class="fa fa-twitter"></i> Twitter</button>
      <button md-button (click)="link('http://freecodecamp.com/lawlietblack')" class="md-primary md-raised"><i class="fa fa-free-code-camp"></i> FreeCodeCamp</button>

    </div>
  </section>
  <section id="education" class="text-center green">
    <h1>Education</h1>
    <ul>
      <li><h1><i class="fa fa-flask"></i></h1><h2>B.S. in Applied Physics</h2><p>University of Oregon</p></li>
      <li><h1><i class="devicon-javascript-plain"></i></h1><h2>Front End Web Development Track</h2><p>TeamTreehouse.com</p></li>
      <li><h1><i class="devicon-nodejs-plain"></i></h1><h2>Full Stack Javascript Track</h2><p>TeamTreehouse.com</p></li>
      <li><h1><i class="devicon-python-plain"></i></h1><h2>Python and Flask Tracks</h2><p>TeamTreehouse.com</p></li>
      <li><h1><i class="devicon-angularjs-plain"></i></h1><h2>Front End Development</h2><p>FreeCodeCamp.com</p></li>
      <li><h1><i class="devicon-d3js-plain"></i></h1><h2>Data Visualization</h2><p>FreeCodeCamp.com</p></li>
      <li><h1><i class="devicon-nodejs-plain"></i></h1><h2>Back End Development</h2><p>FreeCodeCamp.com</p></li>
    </ul>
  </section>
  <section id="questions">
    <div class="clearfix">
      <h1>Interview Questions</h1>
      <div class="basic half left">
        <h2>Basic Interview Questions: </h2>
        <h4>Q: Tell me about yourself.</h4>
        <p>I moved to Portland a few years ago after graduating with a B.S. in Applied Physics from the University of Oregon. I love the outdoors, good coffee and beer, so I can't imagine a place I would be happier to live. After a few false starts, in April 2014 I committed to learning code and that was that - a year and a half and thousands of  hours of code later and I've progressed from a VERY rudimentary knowledge of HTML from the 90s to building Full Stack MEAN and Django apps. I think my Physics education has played a key role in my success, preparing me for everything from algorithmic logic to just staying calm and being methodical when a problem looks like complete Greek to me.</p>

        <h4>Q: What are your strengths?</h4>
        <p>If this experience has taught me anything, it's that I possess the ability to learn new technologies quickly, thoroughly, and independently. Thanks in part to my background in Physics, I'm also a logical, tenacious problem solver.</p>
        <p>In the code community, I love to help whenever the need arises and have served as a mentor to some of my peers. In college I was never far from a leadership role, whether it was as a Resident Assistant, a member of student council, or as the President of Society of Physics Students - my current work helping to organize the Portland FreeCodeCamp meetup has me reprising some of the same roles and it feels great to be giving back again!</p>

        <h4>Q: What are your weaknesses?</h4>
        <p>Sometimes when I'm enveloped in a problem, it's kind of like being really into a good book: before I know it, hours have passed and it feels like minutes. Good thing I know how to set an alarm!</p>

        <h4>Q: Where would you like to be in your career five years from now?</h4>
        <p>Still learning and building things, hopefully making valuable open source contributions.</p>

        <h4>Q: What's your ideal company?</h4>
        <p>My ideal company would provide me with a steady stream of tough problems for me to solve and would encourage and support my ongoing learning.</p>

        <!--<h4>Q: Why should we hire you?</h4>
        <p></p>-->

        <h4>Q: What did you like least about your last job?</h4>
        <p>Overall, I enjoyed my last job - which is saying something since I hardly expected to be doing office work after studying Physics. Ideally, I'd like something more challenging. </p>

      </div>
      <div class="behavioral half right">
        <h2>Behavioral Interview Questions: </h2>

        <h4>Q: Describe an experience when you had to go above and beyond in order to get a job done.</h4>
        <p>For my first nonprofit project with FreeCodeCamp, I was paired with another student to build a multilingual content management system where the nonprofit could share blog posts, videos, and educational materials about sustainable agriculture. The nonprofit was based in Columbia and my partner lived in Venezuela, so coordination was challenging, but we made it work. About half way through the project, my partner stopped showing up to meetings and responding to messages. If I had turned on the news, I would have learned that his country was in the midst of an economic crisis and he was experiencing ludicrous levels of inflation, food shortages, and rolling blackouts. </p>
        <p>The midway point of the project came and we were behind on user stories as my partner was understandably focused on surviving. I took on the bulk of the missing work and made extra strides to keep the nonprofit representative and FreeCodeCamp coordinators informed about the situation and his progress, which I received in spurts. In the end, we finished the app and the nonprofit representative was very happy. My partner amazingly stayed true to his commitment, working whenever he could, and was integral to getting the internationalization implemented. The bulk of the user stories and design ended up being fulfilled by me, a situation that the FreeCodeCamp representatives promised to rectify with my next pairing. I didn't mind though... </p>
        <p>First World Problems.</p>

        <h4>Q: Describe a circumstance when an unforeseen challenge threatened your ability to deliver a project on time, or meet a commitment. What did you do?</h4>
        <p>I was four stages into interviewing with a high profile company. The next stage involved me learning a new language and delivering two personal projects in different frameworks. I was supposed to have about 3 weeks for this, a timeline that was already a bit unrealistic, and then I lost over a week to sickness. Starting on the second week, my apartment complex began work on my roof, with sounds that made the floor shake.</p>
        <p>I originally made a plan to work elsewhere, but first I decided to try working at night. I shifted my sleep schedule to adapt and mostly slept through the construction, gaining long peaceful hours of work time. Adaptation took time, and I still had to work some hours during the construction, but loud music with noise-cancelling headphones helped me keep focused (if not un-phased) as my apartment shook around me. In the end, I finished the projects on time, and the reviewers were very impressed with my work. I also learned a new language, 2 new frameworks, and had two new projects to add to my portfolio.
        </p>

      </div>

      <div class="more half right">
        <h2>More About Me:</h2>

        <h4>Q: Tell me about your proudest achievement.</h4>
        <p>I'd have to say my year of code - which is saying something, since getting a B.S. in Applied Physics was no cake walk! Over the last year, I've spent 2,300 hours learning code, working 60+ hours a week independently, of my own motivation, and using only online, mostly free resources. The journey has been challenging and rewarding, and I'm still amazed every day at how much I've learned!</p>

        <h4>Q: How would you describe your work style?</h4>
        <p>If I'm working alone, I generally work on projects independently in long sessions, only asking for help when it's truly needed - I'm usually just fine figuring things out for myself. If it's a group project, I usually focus on logistics and the difficult problems, trying to make sure no one is blocked.</p>

        <h4>Q: What would be your ideal working environment?</h4>
        <p>A casual environment would be best. If possible, I'd like to have solid blocks of uninterrupted time so I can really focus. Also plenty of coffee.</p>

        <h4>Q: If you had to choose one, would you consider yourself a big-picture person or a detail-oriented person?</h4>
        <p>I'm mostly detail oriented, but I know the importance of both.</p>

      </div>
    </div>
  </section>
  <section id="enjoys" class="text-center green clearfix">
    <h1>Things I enjoy</h1>
    <ul>
      <li><h1><i class="fa fa-coffee"></i></h1>Coffee</li>
      <li><h1><i class="fa fa-gamepad"></i></h1>Games</li>
      <li><h1><i class="fa fa-tree"></i></h1>Camping</li>
      <li><h1><i class="fa fa-code"></i></h1>Code</li>
      <li><h1><i class="fa fa-rebel"></i></h1>SciFi</li>
      <li><h1><i class="fa fa-cutlery"></i></h1>Cooking</li>
      <li><h1><i class="fa fa-star"></i></h1>Astronomy</li>
    </ul>
  </section>
</div>