<div class="about">
  <div class="container">
    <img src="img/avatar.png" alt="" class="profile-photo">
    <h3>Kenneth Black</h3>
    <p>Applied Physics Major, Tenacious Problem Solver, Self-taught Web Developer. On April 16th, 2015 I started my journey to learn all I can about web development, at which time I had little experience in HTML and only knew of CSS as "That thing that makes webpages prettier." Since then, I have devoured every piece of knowledge from every source possible. When I'm not coding, I enjoy playing video/board/card games, drinking good coffee, and tinkering with electronics. Feel free to contact me at on twitter at @LawlietBlack or email me at Kenneth.Black@live.com if you have any comments, advice or project suggestons.</p>
  </div>
</div><!--end about-->   

<div class="languages">
  <div class="container">
    <h3>Languages and Skills</h3>
    <div class="row">
      <div class="col-sm-3">
      <h4 class="treehouse skill">Treehouse</h4>
        <ul>
          <li><strong>Front End Development Track</strong></li>
          <li><strong>Full Stack Javascript Track</strong></li>
          <li>Javascript</li>
          <li>Object-Oriented Javascripts</li>
          <li>jQuery</li>
          <li>jQuery Plugins</li>
          <li>HTML &amp; CSS</li>
          <li>Responsive Layouts</li>
          <li>AJAX</li>
          <li>Website Optimization</li>
          <li>Console Foundations</li>
          <li>Node.js</li>
          <li>Git</li>
          <li>npm</li>
          <li>AngularJS</li>
          <li>Gulp Basics</li>
          <li>Front End Performance Optimization</li>
          <li>Database Foundations (In Progress)</li>
          <li>Java Basics (In Progress)</li>
          <li>PHP Basics (In Progress)</li>
        </ul>
      </div><!-- end column 1-->
      <div class="col-sm-3">
        <h4 class="codecademy skill">Codecademy</h4>
        <ul>
          <li>Javascript</li>
          <li>jQuery</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>PHP</li>
          <li>AngularJS</li>
          <li>Bootstrap</li>
          <li>Ruby</li>
          <li>Python (In Progress)</li>
          <li>Ruby on Rails (In Progress)</li>
        </ul>
      </div><!-- end column 2-->
      <div class="col-sm-3">
        <h4 class="indep skill">Independent Study</h4>
        <ul>
          <li>Full stack Javascript</li>
          <li>Express for node.js</li>
          <li>Forever for node.js</li>
          <li>Swig for node.js</li>
          <li>Console and git</li>
          <li>Photoshop</li>
          <li>Cygwin/Package Management</li>
          <li>Restful APIs with node (In Progress)</li>
          <li>Polymer (In Progress)</li>
          <li>Yeoman.io (In Progress)</li>
        </ul>
      </div><!-- end column 3-->
      <div class="col-sm-3">
        <h4 class="fcc skill">FreeCodeCamp</h4>
        <ul>
          <li>HTML5 and CSS</li>
          <li>Responsive Design with Bootstrap</li>
          <li>jQuery</li>
          <li>Basic JavaScript</li>
          <li>Basic Algorithm Scripting</li>
          <li>Basic Front End Development Projects</li>
          <li>Intermediate Algorithm Scripting</li>
          <li>Upper Intermediate Algorithm Scripting</li>
          <li>Automated Testing and Debugging</li>
          <li>Advanced Algorithm Scripting</li>
          <li>AngularJS</li>
          <li>Intermediate Front End Development Projects</li>
          <li>Git</li>
          <li>Node.js and Express.js</li>
          <li>MongoDB</li>
          <li>Full Stack JavaScript Projects (In Progress)</li>
        </ul>
      </div><!-- end column 4-->
    </div><!-- end row-->
  </div><!-- end container-->
</div><!-- end languages-->