<section id="about">
  <div class="container">
    <img src="img/profile.jpg" alt="" class="profile-photo">
    <h3>Kenneth Black</h3>
    <p>Applied Physics Major, Tenacious Problem Solver, Self-taught Web Developer. On April 16th, 2015 I started my journey to learn all I can about web development, at which time I had little experience in HTML and only knew of CSS as "That thing that makes webpages prettier." Since then, I have devoured every piece of knowledge from every source possible. When I'm not coding, I enjoy playing video/board/card games, drinking good coffee, and tinkering with electronics. Feel free to contact me at on twitter at @LawlietBlack or email me at Kenneth.Black@live.com if you have any comments, advice or project suggestons.</p>
  </div>
</section>  
<section id="education" class="text-center green">
  <h1>Education</h1>
  <ul>
    <li><h1><i class="fa fa-flask"></i></h1> B.S. in Applied Physics <p>University of Oregon</p></li>
    <li><h1><i class="devicon-javascript-plain"></i></h1> Front-end Web Development Track <p>TeamTreehouse.com</p></li>
    <li><h1><i class="devicon-nodejs-plain"></i></h1> Fullstack Javascript Track <p>TeamTreehouse.com</p></li>
    <li><h1><i class="devicon-angularjs-plain"></i></h1> Front End Development <p>FreeCodeCamp.com</p></li>
  </ul>
</section>
<section id="skills">
  <div class="container">
    <div class="text-center">
      <h1>Skills</h1>
    </div>
      <ul class="skills">
        <li><i class="devicon-javascript-plain"></i> JavaScript
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 95%"></div>
          </div></li>
        <li><i class="devicon-angularjs-plain"></i> AngularJS
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
          </div></li>
        <li><i class="devicon-jquery-plain"></i> jQuery
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 90%"></div>
          </div></li>
        <li><i class="devicon-html5-plain"></i> HTML5 
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 95%"></div>
          </div></li>
        <li><i class="devicon-css3-plain"></i> CSS3
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
          </div></li>
        <li><i class="devicon-git-plain"></i> Git
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 85%"></div>
          </div></li>
        <li><i class="devicon-linux-plain"></i> Terminal
          <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
          </div></li>
        <li><i class="devicon-bootstrap-plain"></i> Bootstrap
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 75%"></div>
          </div></li>
        <li><i class="devicon-bower-plain"></i> Bower
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 75%"></div>
          </div></li>
        <li><i class="devicon-nodejs-plain"></i> Node.js
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 65%"></div>
          </div></li>
        <li><i class="devicon-mongodb-plain"></i> MongoDB
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 60%"></div>
          </div></li>
        <li><i class="devicon-gulp-plain"></i> Gulp
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 50%"></div>
          </div></li>
        <li><i class="devicon-php-plain"></i> PHP
          <div class="progress">
            <div class="progress-bar" style="width: 40%"></div>
          </div></li>
        <li><i class="devicon-python-plain"></i> Python
          <div class="progress">
            <div class="progress-bar" style="width: 40%"></div>
          </div></li>
        <li><i class="devicon-ruby-plain"></i> Ruby
          <div class="progress">
            <div class="progress-bar" style="width: 40%"></div>
          </div></li>
        <li><i class="devicon-rails-plain"></i> Rails
          <div class="progress">
            <div class="progress-bar" style="width: 30%"></div>
          </div></li>
        <li><i class="devicon-grunt-plain"></i> Grunt
          <div class="progress">
            <div class="progress-bar" style="width: 20%"></div>
          </div></li>
      </ul>
    </div>
</section>
<section id="enjoys" class="text-center green">
  <h1>Things I enjoy</h1>
  <ul>
    <li><h1><i class="fa fa-coffee"></i></h1>Coffee</li>
    <li><h1><i class="fa fa-gamepad"></i></h1>Games</li>
    <li><h1><i class="fa fa-tree"></i></h1>Camping</li> 
    <li><h1><i class="fa fa-rebel"></i></h1>SciFi</li>
    <li><h1><i class="fa fa-cutlery"></i></h1>Cooking</li>
    <li><h1><i class="fa fa-star"></i></h1>Astronomy</li>
    <li><h1><i class="fa fa-code"></i></h1>Code</li>
  </ul>
</section>
