<style>
  #output {
    height:60px;
    width:174px;
    margin:10px auto;
    background-color: #000;
    color:#286090;
    border-radius: 5px;
    padding:10px;
    font-size: 18px;
    text-align: right;
  }
  #running {
    font-size:12px;
  }
  #calculator {
    margin:20px auto;
    width:200px;
    height:320px;
    background-color: #444;
    padding-top:8px;
    border-radius:5px;
  }
  #buttons {
    position: relative;
    width:176px;
    height:220px;
    margin: auto;
  }
  #calculator .btn {
    height:40px;
    width: 40px;
    margin:2px;
    float:left;
  }
  #calculator .btn.tall {
    height:84px;
    float:right;
  }
  #calculator .btn.calc-fn {
    padding: 6px 10px;
  }
</style>
<section>
  <div class="title text-center">
    <h1>Calculator</h1>
  </div>
  <div id="calculator">
    <div id="output"><span id="running">{{running}}<br></span>{{output}}</div>
    <div id="buttons" class="text-center">
      <button ng-click="clearAll()" class="btn btn-primary calc-fn">AC</button>
      <button ng-click="clearEntry()" class="btn btn-primary calc-fn">CE</button>
      <button ng-click="mathClick('%')" class="btn btn-primary">&percnt;</button>
      <button ng-click="mathClick('/')" class="btn btn-primary">&divide;</button>
      <button ng-click="numClick(7)" class="btn btn-primary">7</button>
      <button ng-click="numClick(8)" class="btn btn-primary">8</button>
      <button ng-click="numClick(9)" class="btn btn-primary">9</button>
      <button ng-click="mathClick('*')" class="btn btn-primary">x</button>
      <button ng-click="numClick(4)" class="btn btn-primary">4</button>
      <button ng-click="numClick(5)" class="btn btn-primary">5</button>
      <button ng-click="numClick(6)" class="btn btn-primary">6</button>
      <button ng-click="mathClick('-')" class="btn btn-primary">-</button>
      <button ng-click="numClick(1)" class="btn btn-primary">1</button>
      <button ng-click="numClick(2)" class="btn btn-primary">2</button>
      <button ng-click="numClick(3)" class="btn btn-primary">3</button>
      <button ng-click="mathClick('+')" class="btn btn-primary tall">+</button>
      <button ng-click="numClick(0)" class="btn btn-primary">0</button>
      <button ng-click="decimalClick()" class="btn btn-primary">.</button>
      <button ng-click="evaluate()" class="btn btn-primary">=</button>

    </div>
  </div>
  <script src="js/mathjs/math.min.js"></script>
</section>