<h1>Carrer Link Final Project</h1>

<h4>1. Current Career Objective</h4>
<h5>To go to Epicodus in the fall and get a job next spring in Web Development</h5>

<h4>2. My Daily Schedule</h4>
<h5>Meetups</h5>
<p>M-F 6:00-9:00 Meetups</p>
<p>Sat 10:00-2:00 Mentorship Saturdays</p>
<ul>
  <li>Mentorship Saturdays</li>
  <li>Free Code Camp Fridays</li>
  <li>JavaScript Admirers</li>
  <li>AngularJS Meetup</li>
  <li>React Meetup</li>
  <li>PLIBMTL... something</li>

</ul>

<h4>3. Five Target Companies</h4>
<ul>
  <li>New Relic - Software Engineer - Insights</li>
  <li>Phase2</li>
  <li>Metal Toad</li>

</ul>

<h4>4. A Training Provider of Interest</h4>
<p>Epicodus - I will be attending Epicodus for the next session studying Ruby and Ruby on Rails</p>
  
  