<div id="logs">
  <h1>Logs</h1>
  <h3>February 17th, 2016</h3>
  <p>I've finished the last d3 project, a d3 map of meteor strikes, and added it to the main page. I was a bit annoyed that the original example seemingly used colors at random, so I did a little research and added meaningful colors to the data. I've also completed my first new back end project, a simple Timestamp service that can be found at <a href="http://timestamp-lawlietblack.herokuapp.com">timestamp-lawlietblack.herokuapp.com</a>. Lastly, I made and added a digital resume to my site.</p>

  <h3>February 7th, 2016</h3>
  <p>This week, I finished 4 of the 5 d3 projects, 3 of which I've added to my portfolio: an Exoplanet Heat Map, which tracks the dimensions and distance of confirmed exoplanets, a US Gross National Product chart covering data from the 40s to present, and a force map depicting the FreeCodeCamp news network. As a bonus, I've also completed my recreation of the Fallout 3/4 hacking minigame, which can also be found on my main page :) .</p>
  <h3>February 2nd, 2016</h3>
  <p>I finished the last two React and Sass projects! The first is Conway's Game of Life, a math game that "simulates" life (wikipedia explaination <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">here</a>). You can find my version on <a href="http://codepen.io/LawlietBlack/full/oboRwo/">Codepen</a>. The second is a rogulike dungeon crawler game that can also be found on <a href="http://codepen.io/LawlietBlack/full/JGBazL/">Codepen</a>. As for Python, I have my first Flask app live at <a href="http://bearacter-builder.herokuapp.com/">http://bearacter-builder.herokuapp.com/</a>. I was walked through it, so it's not on my portfolio, but I did enjoy learning flask, and am excited to use it for future projects :)</p>
  <h3>January 17th, 2016</h3>
  <p>I've spent the last week diving deep into Python and I hope to have some apps live soon. I've also redesigned my portfolio site, removing the 'apps' tab and moving part of the content there to the main page and retiring the rest.</p>
  <h3>January 9th, 2016</h3>
  <p>I've finished 2 more apps with React and Sass! The first is a leaderboard for FreeCodeCamp.com. The data is imported from an API a fellow camper made. The app can be found on <a href="http://codepen.io/LawlietBlack/full/rxjZEq/">codepen</a> and the code is on <a href="https://github.com/LawlietBlack/FCC-Ziplines/tree/master/Zipline-12">github</a>. The other is a front end recipe box that saves data using localStorage. I liked this one and will probably expand it to a full-stack app down the line. The live version can be found on <a href="http://codepen.io/LawlietBlack/full/gPgqGR/">codepen</a>.</a></p>
  <h3>January 2nd, 2016</h3>
  <p>The new content on FreeCodeCamp requires ReactJS and Sass, so I spent some of the last weeks learning them. My first Sass and React app is a markdown preview app that can be found on <a href="http://codepen.io/LawlietBlack/full/vLgmdm/">codepen</a> with code in my ziplines archive on <a href="https://github.com/LawlietBlack/FCC-Ziplines/tree/master/Zipline-11">github</a>. In the course of learning React, I also made a children's math game that can be found on <a href="http://codepen.io/LawlietBlack/pen/gPgOpd">codepen</a>.</p>
  <h3>December 19th, 2015</h3>
  <p>I've finished making my next MEAN stack app, a prototype of a book trading site. A live version can be found at <a href="http://books-lawlietblack.herokuapp.com">http://books-lawlietblack.herokuapp.com</a> and the code can be found on github <a href="https://github.com/LawlietBlack/books">https://github.com/LawlietBlack/books</a>. While there is one more MEAN app to do on FreeCodeCamp, the site is adding new content and I'll be finishing the new front end apps first</p>
  <h3>November 29th, 2015</h3>
  <p>I've rebuilt my About page to be a bit more reader-friendly and my Magic, the Gathering Deckbuilder is currently undergoing an overhaul, changing from front end to full stack JavaScript using the MEAN stack, Grunt and Yeoman. I think this will fix the loading issues that I've been having and overall make it a much snappier app. I have only 2 projects left to complete on FreeCodeCamp, and the next one in line is a book trading app.</p>

  <h3>October 21st, 2015</h3>
  <p>Since My last update, I've been working through the freecodecamp curriculum, and have completed all but two of their projects, adding a voting app and a nightlife coordination app to my portfolio, as well as a tic tac toe app, a calculator, and a simon game <a href="http://codepen.io/LawlietBlack/full/RWWzLz/">here</a>. I have also made an app to chart the stock market that I plan on linking to once I'm finished with the final touches :).</p>

  <h3>September 9th, 2015</h3>
  <p>On August 28th, I started work on a new site, freecodecamp.com. They specialize in fullstack javascript and, if I complete their program, they will connect me to nonprofit organizations with web development work. Since then, I have worked through a large portion of their content much quicker than their estimated completion times and I hope to finish their 800 hours of content soon. I have posted the web development projects I've done there - named ziplines for their camp theme - on my projects page, and they are also on my codepen account <a href="http://codepen.io/LawlietBlack/">here</a> and in their own repository on github <a href="https://github.com/LawlietBlack/FCC-Ziplines">here</a>.</p>
  <h3>August 26th, 2015</h3>
  <p>Since my last update, I finished both the Front-end and Fullstack Javascript tracks on Treehouse! Using <a href="http://dev.lawlietblack.com/img/webdev.jpg">This Chart</a> I got from my Web Development class from udemy, I've been doing my best to cover all the bases I need, and have been keeping a note of my progress (as I see it) <a href="http://dev.lawlietblack.com/progress.html">here.</a> I also finished the AngularJS course on treehouse, but don't feel that I've quite mastered the subject, so I've gone in search of other materials, starting with a course on CodeScool. In an effort to cut down the time I need to spend designing, I've started learning some external libraries like jquery ui and polymer. I've also dipped my toes in Yeoman, but I haven't found a stack that I'm too fond of yet.</p>
  <h3>August 13th, 2015</h3>
  <p>Started work on Front End Performance Optimization on treehouse, the final course in the front-end web developer track. I am also, incidentally, only one course shy of completing the Full Stack Javascript Development track. I've also been tinkering with jQuery ui and have restyled these updates as an accordian menu and have also added a carousel effect to my main page using the jquery plugin, slick.</p>


  <h3>August 8th, 2015</h3>
  <p>Started and completed the new npm class on treehouse and started the course on SQL databases. I have a working card drawing app for use with my MTG deckbuilder and have created a cardsearch app with color filtering as well, all using angularJS with a very rudimentary UI. I continued to work on the angularJS course at treehouse, but feel I am not learning it quite well enough, so I have started watching other videos on youtube as well.</p>


  <h3>July 30th, 2015</h3>
  <p>Started work on a Magic: The Gathering deckbuilding object in javascript using the maser JSON object from mtgjson.com. It will be nice to have the data to begin with this time instead of entering all of it manually like I did with my persona and civ sites.</p>

  <h3>July 28th, 2015</h3>
  <p>I've rebuilt my persona guide from the ground up using express and swig, which I've been learning on my own. I also started work on a pokedex site that I'm going to be building with Brigette. On treehouse, I finished Object Oriented Javascript and Jquery Plugins and on Codecademy I've started work on Ruby on Rails.</p>

  <h3>July 8th, 2015</h3>
  <p>Since my last update, I have completed all of the calendar pages, social link pages, and added visual transitions to my Persona site. Despite having some trouble, the node.js server that is running it should be stable now with the use of the program "forever." I have also finished the Ruby course on Codecademy and have made progress on the new Object Oriented Javascript course on Treehouse.</p>

  <h3>June 26th, 2015</h3>
  <p>As of now I have finished git basics and node.js and have been working on a new site/guide about Persona 4 golden using my newly acquired node.js skills. The site can be found <a href="http://persona.lawlietblack.com:3000">here</a> as a work in progress. I'm currently experimenting with texture overlays and transitional visual effects, as well as populating the content of the site while getting practice using git version control. I also added a subdomain, <a href="http://dev.lawlietblack.com">dev.lawlietblack.com</a> where I'm keeping the miscellaneous projects that I've worked on from Treehouse and Codecademy that aren't in my Portfolio</p>
    
  <h3>June 20th, 2015</h3>
  <p>I have been working on getting a solid unix-based development enviroment for my windows laptop, and ended up using Cigwyn and console2, which I'm pretty satisfied with. I also installed OpenSUSE as a second OS for my laptop, but I'm still pretty new to package control, so I haven't quite gotten to the point where I can transition to that OS completely.</p>

  <h3>June 13th, 2015</h3>
  <p>Since the last entry, I have finished AJAX from treehouse and have also completed the courses on website optimization, accessibility, console foundations and basic node.js. I have started the second node.js course, git basics, and angularjs on treehouse. On codecademy, I finally finished all of the projects on angularJS and have started to learn Ruby and Python. I have added a drawing app and a flickr search app to the projects page, adding to the simple to-do list and dice roller that were already there.</p>

  <h3>May 31st, 2015</h3>
  <p>I'm currently working on learning AnularJS from Codecademy and AJAX from treehouse. I finished a page for Civilization V that can be found in my portfolio and I made a drop-down menu for my projects page using angularJS. I also made a treehouse card using AJAX that gets my JSON file from treehouse servers and put it on my about page.</p>

  <h3>May 25th, 2015</h3>
  <p>Finished the responsive layouts course on Treehouse and continued work on the AngularJS class on Codecademy. I added some apps to my project page and made a list of my skills for my about page.</p>

  <h3>May 21st, 2015</h3>
  <p>On Treehouse, I've gotten through the HTML Tables, Interactive JavaScript, and HTML Video and Audio courses and learned more about DOM manipulation and also made my first set of video captions. I also started work on the Responsive Layouts course.</p>

  <h3>May 16th, 2015</h3>
  <p>Finished JQuery on Treehouse and made a spoiler revealer, a lightbox, drop-down mobile navigation, a responsive password form, and a simple drawing app which I put on my projects page. I also got through the first section of AngularJS, where I got my first taste of MVC frameworks, which I used to make myself a journal page.</p>

  <h3>May 11th, 2015</h3>
  <p>Finished both of the website courses on Codecademy, learning bootstrap and more jQuery techniques and finished the second JavaScript course on Treehouse, solidifying my foundations on loops, arrays, and functions. Started work on angularJS on Codecademy and jQuery on Treehouse.</p>

  <h3>May 7th, 2015</h3>
  <p>Completed the CSS, JavaScript, and HTML Forms courses on treehouse and the PHP course on codecademy, building a few more simple websites and web apps. Started on Codecademy's course on How to Build a Website to learn bootstrap and also started on the second JavaScript course on Treehouse.</p>

  <h3>May 1st, 2015</h3>
  <p>Finished the first course on the front-end developer track on Treehouse and made a portfolio page in the process! Started the next course on CSS and am excited to get to JavaScript after that! I also completed the jQuery course on Codecademy and started working on PHP.

  <h3>April 29th, 2015</h3>
  <p>Finished the HTML and CSS course on Codecademy and in the process, I made a website resume, a simple social profile, and a gallery page. I started working on jQuery on Codecademy and I joined treehouse and started their front-end developer course, which I'm now taking concurrently with Codecademy.</p>

  <h3>April 27th, 2015</h3>
  <p>I worked on HTML and CSS in the morning, then reviewed and completed all of the exercises I got from a friend till nearly 3am!. It was mostly review, but I learned some new things!</p>

  <h3>April 26th, 2015</h3>
  <p>Finished the JavaScript course on Codecademy, making a cash register app, a simple address book, contact list, and a choose your own adventure game. Started the HTML and CSS course on codecademy</p>

  <h3>April 16th, 2015</h3>
  <p>First day coding, started on the Javascript course on codecademy, made a rock-paper scissors game in the progress</p>




</div>