<md-card class="fancy x-scope" aria-label="" md-whiteframe="8">
  <div class="card-content title-bar">
    <div class="title">
      <h2>{{card.title}}</h2>
    </div>
  </div>
  <div class="card-content skills-bar">
    <ul class="skills">
      <li ng-repeat="skill in card.skills | limitTo:8" 
          ng-click="skillFilter(skill)"
          class="skill-{{skill.toLowerCase()}}">{{skill}}</li>
      <li ng-repeat="skill in card.skills | limitTo:20:8" 
          ng-click="skillFilter(skill)"
          class="extras skill-{{skill.toLowerCase()}}">{{skill}}</li>
      <li class="over-8" ng-show="card.skills.length > 8" ng-click="showMore()"><span class="small">{{card.skills.length - 8}} more</span><i class="fa fa-caret-down"></i></li>
    </ul>
  </div>
  <img src="#" ng-src="{{card.img}}" alt="{{card.title}} Thumbnail">
  <div class="card-content card-bottom">
    <p>{{card.description}}</p>
    <md-button class="git-btn md-raised" ng-click="link(card.github)" md-whiteframe="9">GitHub</md-button>
    <md-button class="web-btn md-raised" ng-click="link(card.link)" md-whiteframe="9">Website</md-button>
  </div> 
</md-card>