<paper-card class="fancy x-scope paper-card-0" aria-label="" elevation="5">
  <div class="card-content title-bar">
    <div class="title">
      <h2>{{card.title}}</h2>
    </div>
  </div>
  <div class="card-content skills-bar">
    <ul class="skills">
      <li ng-repeat="skill in card.skills | limitTo:8" 
          ng-click="filterSkills(skill)"
          class="skill-{{skill.toLowerCase()}}">{{skill}}</li>
      <li ng-repeat="skill in card.skills | limitTo:20:8" 
          ng-click="filterSkills(skill)"
          class="extras skill-{{skill.toLowerCase()}}">{{skill}}</li>
      <li class="over-8" ng-show="card.skills.length > 8" ng-click="showMore()">...</li>
    </ul>
  </div>
  <img src="#" ng-src="{{card.img}}">
  <div class="card-content card-bottom">
    <p>{{card.description}}</p>
    <paper-button raised ng-click="link(card.github)" elevation="9" class="git-btn">GitHub</paper-button>
    <paper-button raised ng-click="link(card.link)" elevation="9" class="web-btn">Website</paper-button>
  </div> 
</paper-card>