<div id="skills-tags">
  <div class="skill-tags">
    <paper-button class="skill-all" ng-click="filterSkills('all')">All <span class="skill-num">16</span></paper-button>
    <paper-button
       ng-repeat="skill in skillList" 
       class="ngclass: skill-{{skill.toLowerCase()}}" 
       ng-click="filterSkills(skill)">{{skill}}<span class="skill-num">{{skills[skill]}}</span>
   </paper-button>
  </div>
</div>
<div class="portfolio clearfix" id="portfolio"> 
  <portfolio-card card="portfolio[0]"></portfolio-card>
  <portfolio-card card="portfolio[1]"></portfolio-card>
  <portfolio-card card="portfolio[2]"></portfolio-card>
  <portfolio-card card="portfolio[3]"></portfolio-card>
  <portfolio-card card="portfolio[4]"></portfolio-card>
  <portfolio-card card="portfolio[5]"></portfolio-card>
  <portfolio-card card="portfolio[6]"></portfolio-card>
  <portfolio-card card="portfolio[7]"></portfolio-card>
  <portfolio-card card="portfolio[8]"></portfolio-card>
  <portfolio-card card="portfolio[9]"></portfolio-card>
  <portfolio-card card="portfolio[10]"></portfolio-card>
  <portfolio-card card="portfolio[11]"></portfolio-card>
  <portfolio-card card="portfolio[12]"></portfolio-card>
  <portfolio-card card="portfolio[13]"></portfolio-card>
  <portfolio-card card="portfolio[14]"></portfolio-card>
  <portfolio-card card="portfolio[15]"></portfolio-card>
</div>