  <div class="portfolio">
    <paper-card class="fancy x-scope paper-card-0" aria-label="" elevation="5">
      <div class="card-content">
        <div class="avatar fullstack">JS</div>
        <div class="title">
          <div class="medium">Persona 4 Golden Guide</div>
          <div class="small">AngularJS</div>
        </div>
      </div>
      <!-- take this out of the content class so that it can span the whole card -->
      <img src="img/test/persona.png">
      <div class="card-content card-bottom">
        <div class="medium">Skills used</div>
        <div class="medium">AngularJS, jquery APIs, HTML5, CSS3, JSON, Photoshop. Full Stack JavaScript version with node.js, express is on github. </div>
      </div>     
      <a href="https://github.com/LawlietBlack/Persona-4-Golden-Guide" class="btn btn-lg btn-github btn-primary">GitHub</a>
      <a href="http://persona.lawlietblack.com" class="btn btn-lg btn-website btn-default">Website</a>
    </paper-card>
    <paper-card class="fancy x-scope paper-card-0" aria-label="" elevation="5">
      <div class="card-content">
        <div class="avatar fullstack">JS</div>
        <div class="title">
          <div class="medium">Magic: the Gathering Deckbuilder</div>
          <div class="small">Fullstack JavaScript: MEAN</div>
        </div>
      </div>
      <img src="img/test/mtg.png">
      <div class="card-content card-bottom">
        <div class="medium">Skills used</div>
        <div class="medium">(In development)MongoDB, AngularJS, Express.js, Node.js, Object-Oriented Javascript, jQuery, RESTful APIs, HTML5, CSS3, Yeoman, Grunt, Test Driven Development</div>
      </div>
      <a href="https://github.com/LawlietBlack/magic-deckbuilder" class="btn btn-lg btn-github btn-primary">GitHub</a>
      <a href="http://magic-lawlietblack.herokuapp.com" class="btn btn-lg btn-website btn-default">Website</a>
    </paper-card>
    <paper-card class="fancy x-scope paper-card-0" aria-label="" elevation="5">
      <div class="card-content">
        <div class="avatar fullstack">JS</div>
        <div class="title">
          <div class="medium">Civilization 5 Leaders Guide</div>
          <div class="small">AngularJS</div>
        </div>
      </div>
      <img src="img/test/civ5.png">
      <div class="card-content card-bottom">
        <div class="medium">Skills used</div>
        <div class="medium">HTML, CSS, Javascript, jQuery, AngularJS, Responsive Web Design, Bootstrap</div>
      </div>
      <a href="https://github.com/LawlietBlack/civ-leaders" class="btn btn-lg btn-github btn-primary">GitHub</a>
      <a href="http://git.lawlietblack.com/civ/index.html" class="btn btn-lg btn-website btn-default">Website</a>
    </paper-card>
    <paper-card class="fancy x-scope paper-card-0" aria-label="" elevation="5">
      <div class="card-content">
        <div class="avatar fullstack">JS</div>
        <div class="title">
          <div class="medium">Vote</div>
          <div class="small">Fullstack JavaScript: MEAN</div>
        </div>
      </div>
      <img src="img/test/vote.png">
      <div class="card-content card-bottom">
        <div class="medium">Skills used</div>
        <div class="medium">JavaScript, AngularJS, MongoDB, Node.js, Yeoman, Grunt, oAuth, Express.js, HTML5, CSS3, RESTful APIs, AJAX</div>
      </div>
      <a href="https://github.com/LawlietBlack/vote" class="btn btn-lg btn-github btn-primary">GitHub</a>
      <a href="http://vote-lawlietblack.herokuapp.com" class="btn btn-lg btn-website btn-default">Website</a>
    </paper-card>
    <paper-card class="fancy x-scope paper-card-0" aria-label="" elevation="5">
      <div class="card-content">
        <div class="avatar fullstack">JS</div>
        <div class="title">
          <div class="medium">Stocks</div>
          <div class="small">Fullstack JavaScript: MEAN</div>
        </div>
      </div>
      <img src="img/test/stocks.png">
      <div class="card-content card-bottom">
        <div class="medium">Skills used</div>
        <div class="medium">JavaScript, AngularJS, MongoDB, Node.js, Yeoman, Grunt, oAuth, Express.js, HTML5, CSS3, RESTful APIs, AJAX</div>
      </div>
      <a href="https://github.com/LawlietBlack/stocks" class="btn btn-lg btn-github btn-primary">GitHub</a>
      <a href="http://stocks-lawlietblack.herokuapp.com" class="btn btn-lg btn-website btn-default">Website</a>
    </paper-card>
    <paper-card class="fancy x-scope paper-card-0" aria-label="" elevation="5">
      <div class="card-content">
        <div class="avatar fullstack">JS</div>
        <div class="title">
          <div class="medium">NightLife</div>
          <div class="small">Fullstack JavaScript: MEAN</div>
        </div>
      </div>
      <img src="img/test/nightlife.png">
      <div class="card-content card-bottom">
        <div class="medium">Skills used</div>
        <div class="medium">JavaScript, AngularJS, MongoDB, Node.js, Yeoman, Grunt, oAuth, Express.js, HTML5, CSS3, RESTful APIs, AJAX</div>
      </div>
      <a href="https://github.com/LawlietBlack/nightlife" class="btn btn-lg btn-github btn-primary">GitHub</a>
      <a href="http://nightlife-lawlietblack.herokuapp.com" class="btn btn-lg btn-website btn-default">Website</a>
    </paper-card><!-- 
    <paper-card class="fancy x-scope paper-card-0" aria-label="" elevation="5">
      <a href="http://pokedex.lawlietblack.com">
        <div class="card-content">
          <div class="avatar fullstack">JS</div>
          <div class="title">
            <div class="medium">Pokedex </div>
            <div class="small">AngularJS</div>
          </div>
        </div>
        <img src="img/test/pokemon.png">
        <div class="card-content card-bottom">
          <div class="medium">Skills used</div>
          <div class="medium">UNDER CONSTRUCTION</div>
        </div>
      </a>
    </paper-card> -->
  </div>