<div id="resume">
  <div class="resume-head">
    <div class="title-box">
      <h1>Kenneth Black</h1>
      <h2>Web Developer</h2>
    </div>
    <div class="contact">
      <p><a href="http://twitter.com/lawlietblack"><i class="fa fa-twitter"></i> @lawlietblack</a></p>
      <p><a href="http://linkedin.com/in/kennethrblack"><i class="fa fa-linkedin"></i> kennethrblack</a></p>
      <p><a href="http://github.com/lawlietblack"><i class="fa fa-github"></i> lawlietblack</a></p>
    </div>
  </div>
  <div class="profile content">
    <h1 class="section-title">Profile</h1>
    <div class="section-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat semper turpis, ac posuere sem finibus sed. Donec condimentum tincidunt velit. Suspendisse luctus elementum convallis. Nulla pretium fermentum risus eu fermentum. Nulla vel augue eu dolor placerat semper vel mollis purus. Ut quis enim turpis. Cras venenatis aliquet justo, vel malesuada nunc consequat eget. 
      </p>
    </div>
  </div>
  <div class="skills content">
    <h1 class="section-title">Skills</h1>
    <div class="section-content">
      <ul class="skill-list">
        <li ng-repeat="skill in skillList"> {{skill}} </li>
      </ul>
    </div>
  </div>
</div>