 	<style>
		.main {
		  width:600px;
		  margin:40px auto;
		}
		.twitch {
		  border: 1px solid #333;
		  background-color: #444;
		  height:102px;
		  cursor:pointer;
		}
		.ch-icon {
		  height:100px;
		  width:100px;
		  float:left;
		}
		.ch-title {
		  display:inline-block;
		  font-size:28px;
		  margin:32px 20px 0;
		}
		.ch-desc {
		  font-size: 14px;
		  display:inline-block;
		  width:375px;
		  color:#888;
		  margin:0;
		}
		.ch-status {
		  height:100px;
		  width:50px;
		  float:right;
		  padding:10px;
		}
		.active {
		  background-color: green;
		}
		.down {
		  background-color: red;
		}
		.sort {
		  width:32.8%;
		  height:30px;
		  font-weight: bold;
		  background-color: #444;
		  border:0px;
		  margin:0;
		  padding:0;
		}
		#search {
		  width:100%;
		  margin:4px 0;
		  border:0px;
		  height:30px;
		  background-color: #000;
		  padding:10px;
		  font-weight: bold;
		}
 	</style>
 	<div class="container-fluid main">
    <h1 class="text-center">Twitch Streams</h1>
    <button class="sort text-center" id="all">All</button>
    <button class="sort" id="online">Online</button>
    <button class="sort" id="offline">Offline</button>
    <input type="text" id="search" placeholder="Search Channels">
    <div id="twitch-streams">
    </div>
  </div>
  <script>
	$(document).ready(function() { 

		Twitch.init({clientId: '7slve55bcpxq289sk8rojb2a491i1j6'}, function(error, status) {
		  console.log('the sdk is now loaded')
		});

		var channelList = ["monstercat","freecodecamp", "storbeck", "terakilobyte", "habathcx","RobotCaleb","thomasballinger","noobs2ninjas","beohoff", "comster404"]

		for(var i=0;i<channelList.length;i++) {
		  var method = 'channels/' + channelList[i];
		  Twitch.api({method: method }, function(error, list) {
		    if(error) {
		      var $twitch = $('<div>').addClass('twitch');
		      $twitch.html('<div class="twitch" data-href="#"><img class="ch-icon" src="http://dev.lawlietblack.com/img/glitchyz.png"><h2 class="ch-title" style-scope>Not Found<br><span class="ch-desc">' + error.message + '</span></h2><div class="ch-status null"><h1><i class="fa fa-times-circle"></i></h1></div></div>');
		        $('#twitch-streams').append($twitch);
		    } else {
		      renderChannel(list)
		    }
		  });
		}

		function renderChannel(list) {
		  var $twitch = $('<div>').addClass('twitch');
		  var $icon = $('<img>').addClass('ch-icon');
		  var $title = $('<h2>').addClass('ch-title');
		  var $status = $('<div>').addClass('ch-status');
		  if(list.logo !== null) {
		    $icon.attr('src', list.logo).appendTo($twitch);
		  } else {
		    $icon.attr('src', 'http://dev.lawlietblack.com/img/twitch-logo.png').appendTo($twitch);
		  }
		  var titleString = list.display_name;
		  if(list.delay !== null) {
		    titleString += "<br><span class='ch-desc' style-scope>";
		    titleString += list.status + "</span>"
		  }
		  $title.html(titleString).appendTo($twitch);

		  if(list.delay !== null) {
		    $twitch.addClass('online');
		    $status.addClass('active').html('<h1><i class="fa fa-check-circle"></i></h1>').appendTo($twitch);
		  } else {
		    $twitch.addClass('offline');
		    $status.addClass('down').html('<h1><i class="fa fa-minus-circle"></i></h1>').appendTo($twitch);
		  }
		  $twitch.attr('data-href', list.url);
		  $('#twitch-streams').append($twitch);
		}

		$('body').on('click', '.twitch', function(event) {
		  // console.log(event);
		  var url = event.currentTarget.getAttribute('data-href');
		  window.location.href = url;
		});
		$('body').on('click', '#all', function() {
		  $('#search').val("");
		  $('.twitch').show();
		});
		$('body').on('click', '#online', function() {
		  $('#search').val("");
		  $('.twitch').hide();
		  $('.twitch.online').show();
		});
		$('body').on('click', '#offline', function() {
		  $('#search').val("");
		  $('.twitch').hide();
		  $('.twitch.offline').show();
		});

		$('body').on('keyup', '#search', function() {
		  var search = $('#search').val();
		  $('.twitch').each(function() {
		    $(this).hide();
		    var channelName = $(this).children('.ch-title').html();
		    if(channelName !== undefined) {
		      if(channelName.indexOf("<br>") >=0) {
		        channelName = channelName.slice(0, channelName.indexOf("<br>"));
		      }
		      if(channelName.toLowerCase().indexOf(search.toLowerCase()) >= 0) {
		        $(this).show();
		      }
		    }
		  })
		})

	});
  </script>