<main id="career-link">
  <h1>Carrer Link Final Project</h1>

  <div class="card">
    <h3>1. Current Career Objective</h3>
    <p>To go to Epicodus in the fall and get a job next spring in Web Development</p>
  </div>

  <div class="card">
    <h3>2. My Daily Schedule</h3>
    <p>Meetups</p>
    <p>M-F 6:00-9:00 Meetups</p>
    <p>Sat 10:00-2:00 Mentorship Saturdays</p>
    <ul>
      <li>Mentorship Saturdays</li>
      <li>Free Code Camp Fridays</li>
      <li>JavaScript Admirers</li>
      <li>AngularJS Meetup</li>
      <li>React Meetup</li>
      <li>... and many more</li>
      <li><a href="http://meetup.com">Meetup.com</a> and <a href="http://calagator.com">Calagator.com</a></li>
    </ul>
  </div>

  <div class="card">
    <h3>2b. Strategy</h3>
    <ul>
      <li>Go back to 40 hours a week of code</li>
      <li>Make more React Projects</li>
      <li>Informational Interviews</li>
      <li>Prep for Classes: Ruby, Ember, Rails</li>
      <li>Start Second FreeCodeCamp Project</li>
      <li>Freelance Project</li>
      <li>Self Care: VACATION :D</li>
    </ul>
  </div>

  <div class="card">
    <h3>3. Five Target Companies</h3>
    <ul>
      <li>New Relic - Software Engineer - Insights</li>
      <li>Phase2</li>
      <li>Metal Toad</li>
      <li>Puppet</li>
      <li>The Dyrt</li>
    </ul>
  </div>

  <div class="card">
    <h3>4. A Training Provider of Interest</h3>
    <p>Epicodus - I will be attending Epicodus for the next session studying Ruby and Ruby on Rails</p>
  </div>

  <div class="card">
    <h3>5. Contact</h3>
    <h4>Kenneth Black</h4>
    <h4>Kenneth.Black@live.com</h4>
    <h4>LawlietBlack.com</h4>
  </div>

</main>