/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';

@import "scss/mixins";
@import "scss/variables";


html, body {
  font-family: $primary-font;
  background-color: $bg-color;
  color: $base-font-color;
  height:100%;
}
* {
  box-sizing: border-box;
}
.clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear:both;
  }
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration:none;
  color:#593;
  &:hover {
    text-decoration: none;
    color:#262;
  }
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();

$primary: md-palette($md-deep-purple);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-pink, 700, 500, 900);
  $dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn:    md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}



#portfolio {
  padding-top:20px;
  @include flexy();
  md-card {
    margin: 20px;
    float:left;
    background-color: $card-color;
    width: 426px;
    border-radius: 0;
    position: relative;
    img {
      width: 336px;
      height: 192px;
    }
    .card-content {
      padding: 0;
      float:left;
      .title {
        h2 {
          font-size: 1.35em;
        }
        padding:7px 0 7px 7px;
        height: 40px;
        width: 336px;
      }
    }
    .card-bottom {
      position:relative;
      min-height:170px;
      width: 426px;
      padding: 10px;
      z-index: 50;
      p {
        margin: 12px 0 0;
      }
      button {
        position: absolute;
        bottom:5px;
        &.git-btn {
          background-color: #242424;
          right:0;
        }
        &.web-btn {
          background-color: #055081;
          right: 100px;
        }
      }
    }
    .skills-bar {
      width: 90px;
      height: 232px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      background-color: darken($card-color, 10%);
      li {
        @include skillcolors;
        padding:5px 0;
        height:29px;
        cursor:pointer;
      }
      .over-8 {
        position: relative;
        z-index: 100;
        cursor: pointer;
        padding: 0;
        margin: 0;
        background-color: #2a3030;
        border-radius: 0 0 50% 50%;
        height: 26px;
        span {
          font-size: 12px;
          height: 12px;
          display: block;}
        i {
          display: block;}
      }
    }
    .extras {
      position: relative;
      z-index: 100;
      display: none;
    }
    @media screen and (max-width: 1420px) {
      margin: 10px;
    }
    @media screen and (max-width: 450px) {
      width: 336px;
      .card-content h2 {
        text-align: center;
      }
      .skills-bar {
        right: 0;
        top: 232px;
        min-height: 261px;
        .over-8 {
          background-color: darken($card-color, 10%);
        }
      }
      .card-bottom {
        min-height: 261px;
        width: 246px;
        button.git-btn {
          padding: 0;
          width: 44%;
          right: 0;
        }
        button.web-btn {
          padding: 0;
          width: 44%;
          right: 121px;
        }
      }
    }
  }
}