/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';

@import "scss/mixins";
@import "scss/variables";


html, body {
  font-family: $primary-font;
  background-color: $bg-color;
  color: $base-font-color;
  height:100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear:both;
  }
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration:none;
  color:#593;
  &:hover {
    text-decoration: none;
    color:#262;
  }
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();

$primary: md-palette($md-deep-purple);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-pink, 700, 500, 900);
  $dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn:    md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

button[md-button] {
  border-radius: 0;
  font-size: 16px;
  text-transform: none;
  &.content {
    padding: 0;
  }
  &.md-raised {
    color: #fff;
  }
  &.md-raised.md-primary {
    background-color: $primary-color;
  }
  &.md-raised.md-secondary {
    background-color: $secondary-color;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $screen-small) {
    width: 750px;
  }
  @media (min-width: $screen-medium) {
    width: 970px;
  }
  @media (min-width: $screen-large) {
    width: 1170px;
  }
}
.text-center {
  text-align: center;
}
.green {
  background-color: #1B5E20;
}
%tile {
  display: inline-block;
  margin: 20px;
}




#portfolio {
  padding-top:20px;
  @include flexy();
}

.download {
  @include flexy();
  margin: 20px;
  button.md-button {
    height: 36px;
    width: 140px;
    padding: 0;
  }
  a {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #fff;
  }
}
#resume {
  font-family: $secondary-font;
  background-color: $card-color;
  max-width: 800px;
  margin: 20px auto;
  color: #eee;
  &>div {
    padding: 20px 30px;
    overflow: auto;
    border-bottom: 1px solid darken($card-color, 20%);
  }
  a {
    color: #eee;
    &:hover {
      color: $light-primary-font;}}
  p {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;}
  .resume-head {
    border-bottom: 2px solid $light-primary-font;
    .title-box {
      max-width: 600px;
      float: left;
    }
    .contact {
      max-width: 120px;
      padding: 6px 0;
      float: right;
    }
  }
  .section-title {
    float: left;
    width: 30%;
    color: $light-primary-font;
    font-style: italic;
  }
  .section-content {
    float: right;
    width: 70%;
    li {
      margin-bottom: 20px;
    }
    h4 {
      font-weight: normal;
      font-style: italic;
    }
    li p {
      margin: 6px 0 0;
      color: #ddd;
      padding-left: 10px;
    }
  }
  .skill-list li {
    margin: 0;
    width: 33%;
    float: left;
  }
  @media screen and (max-width: 700px) {
    .resume-head {
      text-align: center;
      padding-bottom: 4px;
      .contact {
        clear: both;
        max-width: 100%;
        width: 100%;
        float: none;
        margin: 0;
        p {
          width: 33%;
          float: left;
        }
      }
    }
    .section-title, .section-content, .title-box {
      width: 100%;
      float: none;
      margin: 0 auto 10px;
    }
  }
  @media screen and (max-width: 500px) {
    .resume-head .contact p {
      width: 100%;
      float: none;
    }
  }
}
#logs {
  margin: 20px auto;
  width: 95%;
  max-width: 600px;
  .title {
    text-align: center;
  }
  .log {
    border-bottom: 1px solid transparentize($base-font-color, 0.9);
    display: table;
    margin-bottom: $base-spacing;
    padding-bottom: 1em;
    width: 100%;

    .log-content {
      width: 100%;

      h1 {
        font-size: 1em;
        margin: 0 0 0.5em 0;}

      p {
        line-height: 1.5em;
        margin-bottom: 0.5em;}

      p.log-detail {
        color: transparentize($base-font-color, 0.5);
        font-size: 0.9em;
        font-style: italic;}
    }
  }
}
#about {
  margin: 40px auto 0;
  section {
    min-height: 240px;
    padding: 40px 0;
    h1 {
      color: #ccc;
    }
  }
  #profile {
    color: #ccc;
    margin:40px auto 0;
    max-width:800px;
    text-align: center;
    .profile-photo {
      border-radius: 50%;
      height:140px;
      width:140px;
    }
    h1 {
      font-size: 2em;
      color: #34ad3c;
    }
    p {
      font-size: 1.2em;
    }
  }
  #education {
    ul {
      @include flexy();
      color: #ddd;
      max-width: 1300px;
      margin: auto;
      text-align: center;
      font-size: 1.4em;
      li {
        @extend %tile;
        width: 260px;
        h2 {
          font-size: 1.3em;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  #questions {
    width: 95%;
    margin: 20px auto;
    max-width: 1200px;
    h1 {
      text-align: center;
      margin: 20px;}
    h2 {
      font-size: 1.4em;
      font-family: 'Lusitana', serif;
    }
    h4 {
      color: #ddd;
      margin: 20px 0 0;
      font-family: 'Merriweather', serif;
    }
    p {
      font-family: $paragraph-font;
      color: #ccc;
      margin: 0 0 14px 24px;
      line-height: 1.4em;
    }
    .half {
      width: 46%;
      margin: 0 2%;
      &.left {
        float: left;}
      &.right {
        float: right;}
      @media screen and (max-width: $screen-small) {
        width: inherit;
        margin: 20px;
        &.left, &.right {
          float: none;
        }
      }
    }
  }
  #enjoys {
    ul {
      @include flexy();
      color: #ddd;
      li {
        @extend %tile;
      }
    }
  }
}
#code {
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
  .snippet {
    margin: 20px auto;
    pre {
      margin: 10px;
      padding: 10px;
      background-color: lighten($bg-color, 5%);
    }
  }

  .skill {
    @include skillcolors;
    padding: 3px 6px;
    margin-right: 10px;
  }
  p {
    margin: 10px 0 4px 20px;
  }
  pre {
    white-space: pre-wrap;
  }
}



#career-link {
  max-width: 800px;
  width: 95%;
  margin: 20px auto;
  .card {
    margin: 40px auto 80px;
    background-color: #333;
    padding: 10px 40px 20px;
  }
  p, li {
    font-size: 2em;
  }
  h1 {
    text-align: center;
    font-size: 4em;
  }
  h3 {
    font-size: 3em;
    color: #1B5E20;
    margin: 20px 0 20px;
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: 3.5em;
  }
}